<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="board" fxLayout="column"  fxLayoutAlign="center center" *ngIf="playersLoaded">
    <p>Contador de partidas</p>
    <p>{{player1.name}}: {{player1.wins}} </p>
    <p>{{player2.name}}: {{player2.wins}} </p>
    <p>Jugador actual: {{currentPlayer.name}} </p>
    <button (click)="resetBoard($event)" class="btn-primary">Reiniciar partida</button>
    <button (click)="ngOnInit()" class="btn-primary">Cambiar jugadores</button>
  </div>
  <div *ngIf="playersLoaded" class="game" fxLayout="column" fxLayoutAlign="center center" >
    <div *ngFor="let pos of positions">
      <span [@slideInOut]="{value: pos.value, params: {back_color: currentPlayer.color}}"
      class="tile-effect" (click)="chooseColumn(pos.index)" [class]="pos.class" ></span>
    </div>
    <mat-grid-list cols="7" rowHeight="70px" [gutterSize]="'20px'">
      <ng-container>
        <div *ngFor="let row of matrix">
          <mat-grid-tile *ngFor="let item of row"
          [style.background]="item.value ? item.value.color : '#f5eef3'">
            </mat-grid-tile>
        </div>
      </ng-container>
    </mat-grid-list>
  </div>

</div>
