.container{
  display: flex;
  width: 100%;
  height: 100%;
  background: #f5eef3;
  font-family: 'Staatliches', 'arial', sans-serif;
  font-size: 30px;
}

.board {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  padding-left: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-top:20px;
}
.mat-grid-tile {
  border-radius: 60px;
  width: 70px !important;
  margin: 5px;
}

.mat-grid-list {
  height: 530px !important;
  width: 700px;
  background: #1981e7;
}

.dialog-class{
  mat-dialog-container {
    padding: 0;
}
}

.tile-effect {
  background-color: #f5eef3;
  width: 70px;
  height: 70px;
  z-index: 1;
  border-radius: 60px;
  position: absolute;
  &.f0{
    left: 598px;
    top: 61px;
  }
  &.f1{
    left: 701px;
    top: 61px;
  }
  &.f2{
    left: 804px;
    top: 61px;
  }
  &.f3{
    left: 907px;
    top: 61px;
  }
  &.f4{
    left: 1009px;
    top: 61px;
  }
  &.f5{
    left: 1112px;
    top: 61px;
  }
  &.f6{
    left: 1215px;
    top: 61px;
  }
}

