
@font-face {
  font-family: 'Staatliches';
  src: url(assets/Staatliches-Regular.ttf) format("opentype");
  font-display: swap;
 }


html, body { height: 100%; }
body, p, h1,h2,h3, label {
  margin: 0;
  font-family: Staatliches, "Helvetica Neue", sans-serif;
}

.btn-primary {
  outline: none;
  font-weight: bold;
  border: none;
  background: transparent;
  margin: 2px 3px 2px 0;
  cursor: pointer;
  text-transform: uppercase;
  &:hover{
    background-color: #f5eef3;
  }
}
